
  .controls {
    display: flex;
    justify-content: space-between;
    height: 75px;
    width: 100%;
    background-color: white;
  }
  body{
    background-color: aliceblue;
  }

  .display-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    margin-left: 3%;
    padding: 0px 8px;
    background-color: white;
    border: none;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 1, 0.2);
    font-size: 8px;
    height: 30px;
    margin-top: 20px;
    font-weight: 500;
  }
  
  .icon-display {
    width: 16px;
    height: 16px;
    margin-right: 5px;
  }
  
  .icon-dropdown {
    width: 16px;
    height: 16px;
    margin-left: 5px;
  }
  
  .display-text {
    font-size: 14px;
    font-weight: 600;
  }
  
  /* Filter Menu Adjustments */
  .filter-menu {
    position: absolute;
    top: 63px;
    left: 54px;
    background-color: #fff;
  
    padding: 13px 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 1, 0.2);
    z-index: 100;
    width: 330px;
    border-radius: 8px;
    max-height: 150px;
    overflow-y: auto;
  }
  
  /* Filter Row */
  .filter-row {
    display: flex;
    align-items: center;
    margin-bottom: 9px;
  }
  
  .filter-title {
    font-weight: 600;
    font-size: 14px;
    padding-right: 30%;
    color: #333;
    margin-right: 10px;
  }
  
  .filter-row select {
    padding: 8px;
 
    border-radius: 6px;
    background-color: #f9f9f9;
    font-size: 14px;
   
    color:#333;
    width: 140px;
  }
  
  .kanban-columns {
    display: flex;
    justify-content: space-between;
  }
  
  .kanban-column {
    width: 23%;
    margin: 5px;
    padding: 8px;
  }
  
  .kanban-card {
    background-color: white;
    margin-bottom: 15px;
    padding: 8px;
    font-size: 14px;
    border-radius: 6px;
    border: 1px solid #ddd;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  }
  
  .ticket-id {
    font-size: 14px;
    margin-bottom: 4px;
    color: #555;
  }
  
  .cam-id {
    font-size: 80px;
    font-weight: 300;
    margin-bottom: 10px;
  }
  
  .status-and-title {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
  }
  
  .status-icon {
    width: 14px;
    height: 14px;
    margin-right: 6px;
  }
  
  .ticket-title {
    font-size: 14px;
    font-weight: 400;
  }
  
  .profile-icon {
    margin-right: 8px;
  }
  
  .user-image {
    width: 36px;
    height: 36px;
    border-radius: 50%;
  }
  
  .user-initials {
    width: 36px;
    height: 36px;
    background-color: #ddd;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
    color: #555;
  }
  
  .priority {
    display: flex;
    align-items: center;
  }
  
  .ticket-tag {
    font-size: 12px;
    font-weight: 500;
    color: #666;
  }
  
  .feature-request {
    display: flex;
    align-items: center;
    margin-left: 6px;
  }
  
  .green-dot {
    width: 8px;
    height: 8px;
    background-color: green;
    border-radius: 50%;
    margin-right: 6px;
  }
  
  .greendot-icon {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-left: 4px;
    color: rgb(169, 177, 169);
    margin-right: 4px;
    background-color: rgb(169, 177, 169);
    border-radius: 50%;
  }
  
  .column-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  .group-status-icon {
    width: 20px;
    height: 20px;
    margin-right: 6px;
  }
  
  .title-and-count {
    display: flex;
    align-items: center;
  }
  
  .group-title {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
  }
  
  .message-count {
    font-size: 16px;
    font-weight: 300;
    margin-left: 6px;
    color: #666;
  }
  
  .icons {
    display: flex;
    align-items: center;
  }
  
  .add-icon,
  .dot-icon {
    width: 20px;
    height: 20px;
    margin-left: 12px;
  }
  